body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
h1{
    text-align: center;
    font-size: 50px;
    color: white;
}

.container{
    background-color: #272727;
    padding: 120px;
    padding-top: 10;
    border-radius: 12px;
}

.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px
}

.inputs input{
    text-align: center;
    border: 0;
    border-bottom: 2px solid black;
    padding: 10px;
    outline: 0;
    background-color: #272727;
    color: white;
    font-size: 25px;
}

